<div>
{{#each reviews}}

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{game.thumbnail}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{title}} <br> by {{author.username}}</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>

{{/each}}
</div>




