<h1 class="indexReviews">check our latest reviews!</h1>
{{!-- <div class="landingReviews">
{{#each reviewResult}}

<div class="card" style="width: 45%; margin-bottom: 75px;">
        <img class="card-img-top" src="{{game.thumbnail}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{title}} <br> by {{author.username}}</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

{{/each}}
</div> --}}
<div class="landing">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 60%; box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);">
    <div class="carousel-inner">
      {{#each reviewResult}}
      <div class="carousel-item {{#unless @index}} active {{/unless}}">
        <img src="{{game.thumbnail}}" class="d-block w-100" alt="...">
      </div>
      {{/each }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>