<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="landing.css">
</head>
<body>    
</body>
</html>
<div class="landingButtons">
    <button><a href="/games">Check the games!</a></button>
    <button><a href="#">Our MVP!</a></button>
    <button><a href="#">Latest reviews!</a></button>
</div>