<h1 class="indexReviews">Check our latest potato salad</h1>
{{!-- <div class="landingReviews">
{{#each reviewResult}}

<div class="card" style="width: 45%; margin-bottom: 75px;">
        <img class="card-img-top" src="{{game.thumbnail}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{title}} <br> by {{author.username}}</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

{{/each}}
</div> --}}