
<div class="container">
    <div>
        <button type="submit"><a href="/games">ALL GAMES</a></button>
    </div>
    <div>
        <button type="submit"><a href="#">MVP</a></button>
    </div>
    <div>
        <button type="submit"><a href="/reviews">REVIEWS</a></button>
    </div>
</div>







