
  <form action="/user/profile/{{this._id}}/edit" method="POST" enctype="multipart/form-data">
  <h2>Edit profile info</h2>

    <label> Username
      <input type="text" name="username" value="{{username}}" />
    </label>


    
<label for="profilePic">Upload new Pic:</label>
<input type="file" name="profilePic">


<button type="submit" class="btn btn-light btn-rounded">Update account</button>
  </form>