
  <form action="/auth/signup" method="POST" enctype="multipart/form-data">
  <h2>Edit profile info</h2>

    <label> Username
      <input type="text" name="username" placeholder="{{username}}" />
    </label>


    
<label for="profilePic">Upload new Pic:</label>
<input type="file" name="profilePic">


<button type="submit">Update account</button>
  </form>