<h1>Hi {{username}}!</h1>
<h3>Good to see you again!</h3>
<img src="{{profilePic}}" alt="Profile Pic">
<a href="/user/profile/{{this._id}}/edit"><button type="button" class="btn btn-light btn-rounded">Edit Profile</button></a>
<a href="/reviews/{{this._id}}/user-list"><button type="button" class="btn btn-light btn-rounded">See my reviews</button></a>
