<h1>Hi {{username}}!</h1>
<h3>Good to see you again!</h3>
<img src="{{profilePic}}" alt="Profile Pic">
<a href="/user/profile/{{this._id}}/edit"><button>Edit Profile</button></a>
<a href="/reviews/{{this._id}}/user-list"><button>See my reviews</button></a>
