@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Comfortaa:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
	font-family: 'Cairo', sans-serif;
	
}

h3 {
	text-align: center;
}

body {
	min-height: 100%;
	font-size: 1rem;
	background-image: url(https://wallpapercave.com/wp/Vqjr2iR.jpg);
	background-repeat: repeat;
	background-size: cover;
}


.card-body {
	background: linear-gradient(90deg, rgba(9,51,68,1) 23%, rgba(5,42,57,1) 100%);
	color: white;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white;
}

.marginTop {
	margin-top:40px;
	height: 100vh;

}

.rowReview {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: center;
}

.center-screenshot {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}


.indexReviews {
	  text-align: center;
	  font-size: 4rem;
	  font-family: 'Orbitron', sans-serif;
	  color: #343a40;
	  font-weight: 900;
}

.indexReviews2 {
	text-align: center;
	font-size: 3rem;
	font-family: 'Orbitron', sans-serif;
	color: #343a40;
	font-weight: 400;
}

.span {
	color: rgb(198, 109, 1);
}

.indexReviewsSmall {
	font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
	text-align: center;
	font-weight: 900;
}

.landing {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

}

.mvpUsers {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.navbar {
	background: linear-gradient(90deg, rgba(9,51,68,1) 23%, rgba(5,42,57,1) 100%);
	box-shadow: 1px 10px 18px -3px #000000;
}

.container {margin:2em 0;}

@media screen and (min-width: 300px) {  
	body {font-size:1.2rem;} 
  }

@media screen and  (min-width: 544px) {  
  body {font-size:1.5rem;} 
}

@media screen and (min-width: 768px) {  
	body {font-size:2rem;}
}

@media screen and (min-width: 992px) { 
	body {font-size:2.5rem;} 
}

@media screen and (min-width: 1200px) {  
	body {font-size:3rem;} 
}

