@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Comfortaa:wght@700&display=swap');

* {
	font-family: 'Cairo', sans-serif;
}


a {
  color: #00B7FF;
}

.marginTop {
	margin-top:40px;
}

.rowReview {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: center;
}

.center-screenshot {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}


.indexReviews {
	  text-align: center;
	  color: white;
	  font-size: 4rem;
}

.landing {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.layout-body {
	background: linear-gradient(180deg, rgba(70,113,38,0.9307073171065301) 19%, rgba(94,130,37,1) 84%);
	background: cover;
	background-repeat: no-repeat;
}

.mvpUsers {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.container {margin:2em 0;}

body {font-size:1rem;} 

@media screen and (min-width: 300px) {  
	body {font-size:1.2rem;} 
  }

@media screen and  (min-width: 544px) {  
  body {font-size:1.5rem;} 
}

@media screen and (min-width: 768px) {  
	body {font-size:2rem;}
}

@media screen and (min-width: 992px) { 
	body {font-size:2.5rem;} 
}

@media screen and (min-width: 1200px) {  
	body {font-size:3rem;} 
}

