<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
 <h1>All Available Games</h1>
<div>
{{#each gameList}}
    <div>
        <h3>{{title}}</h3>
        <p>{{short_description}}</p>
        <a href="/games/{{this.id}}/details"><img src="{{thumbnail}}"></a>    
    </div>
{{/each}}
</div>
</body>
</html>
