<form action = "/games/{{gameDetail.id}}/details/create-review" method = "POST">
<h1>{{gameDetail.id}}</h1>

<h1>{{gameDetail.title}}</h1> 


<p>{{gameDetail.short_description}}</p> 

<h3>Create a New Review</h3>

    <label for="title">Title of the Review: </label>
    <input type="text" name="title"/>
    
    <label for="description" >Description: </label> 
    <textarea name = "description"> Write the review here...</textarea>
  
<button type="submit">Submit Review</button>
</form>