<h1>{{gameDetail.title}}</h1> 
<img src="{{gameDetail.image[0]}}" alt="">
<p>{{gameDetail.description}}</p> 

<h3>Create a New Review</h3>

<form action = "/games/{{this.id}}/details/create-review" method = "POST">

    <label for="description" >Description: </label> 
    <textarea name = "description"> Write the review here...</textarea>
  
<button type="submit">Submit Review</button>
</form>